---
import HeaderLink from "./HeaderLink.astro";
---

<header class="w-full flex justify-center pt-6">
    <nav
        class="inline-flex gap-2.5 bg-[#1b1b1b] border border-[#2c2c2c] rounded-[100px] py-3 px-5 shadow-sm text-[#a1a1a1]"
    >
        <HeaderLink href="/" class="hover:text-[#d5d5d5]">Привет!</HeaderLink>
        •
        <HeaderLink href="/" class="hover:text-[#d5d5d5]">Резюме</HeaderLink>
    </nav>
</header>
